p {
	margin: 0.5rem;
}

h1 {
	font-size: 2rem;
}

img {
	width: 100px;
	height: 100px;
}
.search {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.pokemonList {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	padding: 0 10px;
}

.pokemonList li {
	display: flex;
	flex-flow: column;
	justify-content: center;
	text-align: center;
	margin: 5px;
	font-size: 0.8rem;
	max-width: 100px;
	height: 100%;
}

.pokemonList p:nth-of-type(1) {
	margin: 0;
	font-weight: 700;
}

.pokemonList img {
	cursor: pointer;
}
